<p>
  <%= link_to 'Queue New Odoo Product Collection Job', "/connector/queue_get_products_job" %>
</p>

<h1>Product Statuses:</h1>
<ul>
  <% @products.each do |product| %>
  <li>
    <div>Odoo id: <%= product.odoo_id %></div>
    <div>Name: <%= product.name %></div>
    <div>Pull Status: <%= product.pull_status %></div>
    <div>Push Status: <%= product.push_status %></div>
  </li>
  <% end %>
</ul>
